table.mots {
  th {
    text-align: left;
  }
  .in_french {
    width: 30%;
  }
  .in_language {
    width: 30%;
  }
  .theme {
    width: 5%;
  }
}
table.themes {
  th {
    text-align: left;
  }
  .in_language {
    width: 30%;
  }
  .theme {
    width: 5%;
  }
}