@(verb: Verb)(implicit session: play.api.mvc.Session, flash: Flash, request: RequestHeader)
@import helper._
@main(Messages("Détail d'un verbe")) {
    @helper.form(action = routes.Verbs.newVerb(request.session.get("codeLangue").get)) {
        <h1>Détail du verbe @verb.in_language</h1>
        <table>
            <tr></tr>
            <td>Id :</td>
            <td>@verb.id</td>
            <tr></tr>
            <td>Code langue :</td>
            <td>@verb.language_id</td>
            <tr></tr>
            <td>Dernière modification : </td>
            <td>@verb.last_update</td>
        </table>
        <br>
        @if(session.get("admin") == Some("true")) {
            <p>
                <input type="submit" class="btn primary" value="Nouveau verbe" autofocus>
                <a href="@routes.Verbs.edit(verb.id)" class="btn">
                    <i class="icon-plus"></i> @Messages("Corr")
                </a>
                <a href="@routes.Verbs.delete(verb.id)" class="btn" onclick="deleteDialog(event)">
                    <i class="icon-plus"></i> @Messages("Supp")
                </a>
            </p>
        }
        <h2>Conjugaison</h2>
        <table class="formes">
            <tr></tr>
            <th class="id">Id</th>
            <th class="langue">Langue</th>
            <th class="forme">Forme</th>
            <th class="traduction">Traduction</th>
            <th class="maj">Dernière maj</th>
            @for(vft <- VForm.findByVerb(verb.id)) {
                <tr></tr>
                <td>@vft._1.id</td>
                <td>@vft._1.language_id</td>
                <td>@vft._2.in_french</td>
                <td>@vft._1.in_language</td>
                <td>@vft._1.last_update</td>
            }

        </table>

    }
}
